.container-global {
    display: flex;
    /* outline: 2px solid yellow; */
    height: 100vh;
    gap: 10vw;
}


.input-container {
    display: none;
}

@media screen and (min-width: 1000px){
    .input-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* outline: 1px solid red; */
    }
}



.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* outline: 1px solid green; */
    /* border: 2px solid black; */
}

.table-border {
    border: 2px solid black; 
    padding: 40px;
    zoom: 1.4;
}

.table-instruction {
    /* outline: 1px solid red; */
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 100%;
}

.float-labels {
    transition-property: top, font-size, line-height;
    transition-duration: 150ms;
    pointer-events: none;
    transition-timing-function: linear;
  }

  * {
    border: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    /* background: #83c5be; */
    font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  }
  
  .fancy {
    position: relative;
    width: 370px;
    min-height: 60px;
    max-width: 100%;
    background: #edf6f9;
    border-radius: 50px;
    overflow: hidden;
    --offset: 3px;
    margin-bottom: 20px;
  }
  
  .fancy::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    background: conic-gradient(transparent 180deg, #006d77, #006d77);
    transform: translate(-50%, -50%);
    aspect-ratio: 1;
    animation: rotate 7s linear infinite;
  }
  
  .fancy::after {
    content: "";
    position: absolute;
    width: calc(100% - 2 * var(--offset));
    height: calc(100% - 2 * var(--offset));
    inset: var(--offset);
    background: inherit;
    border-radius: inherit;
  }
  
  .fancy input {
    position: absolute;
    font-family: "Roboto Mono", monospace;
    color: #006d77;
    background: transparent;
    font-size: 0.9rem;
    inset: 0;
    padding: 1.5rem;
    z-index: 10;
    border: none;  
  outline: none;
    
  }

  @keyframes rotate {
    from {
      transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
    }
    to {
      transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
    }
  }


  .button-paper {
    font-family: "Roboto Mono", monospace;
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;

    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-paper:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
    /* border: none; */
  }
  
  .button-paper:focus {
    /* border: none; */
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
  }


/* select */

select {
    font-family: "Roboto Mono", monospace;
    font-style: 500;
    font-size: 1em;
    /* Reset Select */
    appearance: none;
    /* outline: 10px red; */
    border: 0;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    color: #000000;
    /* background-color: var(--darkgray); */
    background-image: none;
    cursor: pointer;
    /* border: 1px solid darkgray;; */
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }
  /* Custom Select wrapper */
  .select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    border-radius: .25em;
    overflow: hidden;
  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    background-color: #edf6f9;
    transition: .25s all ease;
    pointer-events: none;
  }
  /* Transition */
  .select:hover::after {
    color: #f39c12;
    border: none;
  }
  
  
  a {
    text-decoration: drop-shadow;
    padding: .25em;
    border-radius: .50em;
  }
  

  .container {
    border: none;
    width: 320px;
    height: 50px;
    /* margin-top: 40px; */
    margin-bottom: 20px;
  }
  